<section class="comments">
    
    <h3 class="comments__title"> {{ site.translate['comments'][page.lang] }} </h3>

    {% if site.data[page.slug] %}

        {% assign comments = site.data[page.slug] | sort %}
        
        {% for comment in comments %}
            {% assign email = comment[1].email %}
            {% assign name = comment[1].name %}
            {% assign message = comment[1].message %}

            {% include comment.html index=forloop.index hash=email name=name  message=message %}

        {% endfor %}
    {% endif %}

   <h3 class="comments__title__input"> {{ site.translate['commentInput'][page.lang] }} </h3>
    {% include commentInput.html %}
</section>

