<div class="comment-input">
    <form id="comment-input-form" class="comment-input__form"> 
        <input type="hidden" name="slug" value="{{ page.slug }}">
        <div class="comment-input__form__header"> 
            <input placeholder="Morty" name="name" type="text">
            <input placeholder="Morty@dominio.com"name="email" type="email">
        </div>
        <div class="comment-input__form__body"> 
            <textarea placeholder="tu mensaje aqui" name="message" style="resize: none;" cols="40" rows="5"></textarea>
        </div>
    </form>
    <button id="comment-input-button" class="comment-input__button ">Enviar!</button>
</div>

<script>
    $('#comment-input-button').on("click",function() {
        var formDataArray = $('#comment-input-form').serializeArray(), 
            data={} ;

        formDataArray.reduce((object,formData) => { 
            object[formData.name] = formData.value; 
            return object;
        }, data);

        $.ajax({
            type: "POST",
            url: "http://quilombodrivdevmessages-labsjs.rhcloud.com/post/comment",
            contentType: "application/x-www-form-urlencoded",
            json: true,
            data: data,
            success: function(data) {
                console.log(data);
            }, 
            error: function(data){
                console.log(data);
            }
        });
    });
</script>

