<div class='header'> 
    <div class='container'>
        <!--<div class='col-1'>-->
            <!--<div class='header-image'>-->
                <!--<img class="mainLogo" src="/assets/bombMarioQDD.png" />-->
            <!--</div>-->
        <!--</div>-->
        <div class='col-2'>
            <h1 class='title'> Quilombo driven development </h1> 
        </div>
        <div class='nav'>
            <a class='nav-item' href={{ page.base-url }}>{{ site.translate['home'][page.lang] }}</a>
            <a class='nav-item' href= {{ page.base-url | append:  page.pages-url | append: '/about.html' }}>{{ site.translate['about'][page.lang] }}</a>
        </div>
        <div class="lang">
            <a class='lang-item' href="/">es</a>
            <a class='lang-item' href="/en">en</a>
        </div>
    </div>
    <div class="container-image">
            <div class='header-image'>
                <img class="mainLogo" src="/assets/bombMarioQDD.png" />
            </div>
    </div>
</div>
