<div class='postcard'>
    <a class='postcard__link' href="{{ post.url | prepend: site.baseurl }}">
        <div class='postcard__header'>
            <div class='postcard__header__img' style={{ "background-image:url(" | append: post.image
                | append: ")" }}>

                <div class='postcard__header__img__title'>
                    <p> {{ post.title }} </p>
                </div>
            </div>
        </div>
        <div class='postcard__content'>
            <div class='postcard__content_description'>
                <p> {{ post.excerpt }} </p>
            </div>
        </div>
        <div class='postcard__footer'>
            <div class='postcard__footer__date'>{{ post.date |  date: "%d|%m|%y" }}</div>
        </div>
    </a>
</div>
