$purple300:rgba(36, 24, 47, 0.99);

$amber200:rgba(230, 215, 101, 0.22);
$amber300:#f7e13e;
$grey100:#e8e8e8;

$bg-grey:#f9f9f9;
$background-color:$purple300; 
$color-bold:$amber200;
$javascript-color: $amber300;
$faded-color:rgba($javascript-color, 0.7)



