$margin-sides: 30px;
$background-color: rgba(36, 24, 47, 0.99);
$color-bold:#fabd2f;
$mobile-width:800px;
$border: 1px dotted $background-color;
$bg-grey: #f9f9f9;
$bg-gradient: rgba(37, 25, 48, 0.12);
