.footer{
    border-top: $border;
    text-align: center;
    padding: 5px;
    background:-webkit-linear-gradient($bg-grey,$bg-gradient);

    .icons{
        .icon-img{
            width: 40px;
            padding: 10px;
        } 
    }
}
