.footer{
    text-align: center;
    padding: 5px;
    border-top: 1px solid $grey100;

    .icons{
        a{
            &:hover{
                background-color: transparent; 
            } 
        }
        .icon-img{
            width: 40px;
            padding: 10px;
        } 
    }
}
