.header{
    border-bottom: $border;
    height: 200px;
    background: -webkit-linear-gradient(rgba(37, 25, 48, 0.12), $bg-grey);

    .col-1{
        width: 30%; 
        float:left;
    }

    .col-2{
        width: 90%; 
    }

    .mainLogo{
        height: 150px;
        flex:1; 
        background: -webkit-linear-gradient($bg-grey,rgba(37, 25, 48, 0.12));
        -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
        border: 4px dotted black;
    }

    .nav{
        .nav-item{
            text-decoration:none; 
            color:black;
            padding:10px;

            &:hover{
                background-color:$background-color;
                color:$color-bold;
            }
        }  
    }

    .lang{
        float:right;
        .lang-item{
            text-decoration:none; 
            padding: 5px;
            color: black; 

            &:hover{
                background-color:$background-color; 
                color:$color-bold;
            }
        } 
    }
}

@media screen and (max-width: $mobile-width){
   .header{ 
        height: 250px;
        .col-1{
            width:100%; 
            float:none;
            text-align:center;
        }
        .col-2{
            display:none; 
        }
    }
}
