.header{
    padding:10px;
    border-bottom: 1px solid $grey100;
}

.header__top{}
.header__nav__title{
    background:black;
    color:white;
    padding: 5px;
    font-size: 15pt;
    text-align:center; 
}

.header__nav{}
.header__nav__item{
    .header__nav__item{
        padding:10px;
    }
}

.header__lang{
    text-align:right; 
}
.header__lang__item{
    padding:10px;
}

@media screen and (max-width: $mobile-width){
   .header{ 
       height:170px;
    }
}
