.post{
    padding: 10px;
}

.posts{
    padding: 0px;
    li{
        list-style:none; 
    }
}
.post-preview-wrap-link{
    text-decoration:none;
    color:black;
}
.post-preview{
    display:flex;
    flex-wrap: wrap-reverse;
    align-items: center;

    .col-1{
        margin:10px;
        text-align:center;
        flex:1; 
    }

    .col-2{
        text-align:center;
        flex:9; 
    }

    .post-link{
        color:black;
    }

    .post-tag{
        font-size:10pt;  
        text-transform: lowercase;
        padding:15px 0;
    }
    .post-date{ 
        font-size: 20pt;
        text-transform: lowercase;
        padding: 19px 0;
    }

    .tag-image{
        width:30px; 
        border: 3px solid $background-color;
    } 
    &:hover{
        background: $background-color; 
        color:white;
        cursor:pointer;
        .post-link{
            color:$color-bold;
        }
        .tag{
           border-color:white;  
        }
    }
}


@media screen and (max-width: $mobile-width){
   .post-preview{ 
        .col-1{
            display:none; 
        }
    }
}
