// POST LAYOUT 
$post-header-title-bg: $amber700;
.post{}

.post__header{
    height: 250px;
    position: relative;
    overflow:hidden;
}
.post__header__background{
    width: 100%;
    height: 100%;
    background-position: center;
    filter: grayscale(100%);
    background-size: cover;
}
.post__header__title{
    position:absolute;
    bottom:0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: $post-header-title-bg;
    margin: 10px;
    padding: 10px;
    color: black;


}
// MAIN LIST 

.posts{
    padding: 0px;
    li{
        list-style:none; 
    }
}
.posts__group{}
.posts__group__title{
    text-align:center;
}
.posts__group__title__img{
    width: 50px;
}
.posts__group__cards{
    display:flex;
}

// CARDS 
.postcard{
    margin: 10px;
    width: 300px;
    height:400px;
    background: white;
    border: 0 0 3px #dfdfdf;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(136, 136, 136, 0.14);
}
.postcard__link{
    text-decoration: none;
}

.postcard__header{
    text-align: center;
    position:relative;
}
.postcard__header__img{
    background-size: cover;
    width: 100%;
    height: 200px;
}
.postcard__header__img__title{
    p{
        background-color: $faded-color;
        margin: 10px;
        padding: 10px;
        color: black;
    }
    position:absolute;
    bottom:0;
}
.postcard__content{
    height: 160px; 
    overflow: hidden;
}

@media screen and (max-width: $mobile-width){
    .postcard{
        margin: 10px auto;
    }
    .posts__group__cards{
        flex-direction:column;
    }
}
