/**
 * Syntax highlighting styles
 */

$highlight-bg: $amber100;

@import "codeThemes/_base16.scss";

.highlight {
    background-color: $highlight-bg;
    padding: 10px;
    code {
        font-family: 'Source Code Pro', monospace;
    }
}
