---
layout: default
---
<div class="pagemd">

  <header class="pagemd-header">
    <h1>{{ page.title }}</h1>
      </header>

  <article class="pagemd-content">
  {{ content }}
  </article>

  <footer class="pagemd-footer">
        {% for author in page.authors %}

        <div class="pagemd-footer-author">  
            <a class="pagemd-footer-author-link" href={{author.link}}>
                <img class="pagemd-footer-author-img" src={{ author.gravatar | gravatar }}></img>
                <p class="pagemd-footer-author-name" > {{author.name}} </p>
            </a>
        </div>
        {% endfor %}
  </footer> 

</div>
