---
layout: default
---
<div class="post">

    <header class="post__header"> 
        <div class="post__header__background"style={{ "background-image:url(" | append: page.image | append: ")" }}></div>
      <h1 class="post__header__title">{{ page.title }}</h1>
    <!--<p class="meta">-->
                <!--{% if page.date %}-->
                    <!--{{ page.date | date: "%b %-d, %Y" }}-->
                <!--{% endif %}-->
                <!--{% if page.author %} • -->
                    <!--{% include author.html  %}-->
                <!--{% endif %}-->
                <!--{% if page.meta %} • -->
                    <!--{{ page.meta }}-->
                <!--{% endif %}-->
    <!--</p>-->
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <footer> 
    {% if page.comments %}
        {% include commentsView.html  page=page %}
    {% endif %}
  </footer>

</div>
